<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Sign Up</h3>
        </div>
        <div class="card-body">
          <form  ngNativeValidate (ngSubmit)="AddUser()">
            <div >
              <label for="uname1">Name</label>
              <input required type="text"class="form-control" name="uname" [(ngModel)]="Login.name"/>
           
              </div>
              <div >
                <label for="uname1">Email</label>
                <input required  type="email" class="form-control" name="uname" [(ngModel)]="Login.email"/>
             
                </div>
                <div >
                  <label for="uname1">UserName</label>
                  <input required type="text" class="form-control"name="uname" [(ngModel)]="Login.username"/>
               
                  </div>
            <div>
              <label>Password</label>
              <input  required type="password" class="form-control"name="password" [(ngModel)]="Login.password"/>
              </div>
            
            <button type="submit" class="btn btn-success float-right">Signup</button>
          </form>                             
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>
